.container{
  /* min-height: 100vh; */
  display: flex;
}
.right{
  position: relative;
  flex: 6;
  flex-wrap: wrap;
  border: 1px solid #918e8e;
  border-radius: 20px;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 20px;
}

